body {
    background: #005C97;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #363795, #005C97);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(90deg, rgba(0, 64, 118, 1) 0%, rgba(0, 155, 218, 1) 100%);
}

.wrapper {
    justify-content: center !important;
    flex-direction: column;
}

#wizard {
    padding: 80px 20px !important;
    margin: 0 !important;
    border-radius: 5px;
}

#wizard section {
    padding: 0 20px;
}

.steps ul li.current a {
    background: #ffeaa7;
    transition: all 0.5s ease; 
}

.steps ul li.error a {
    background: #e17055;
    transition: all 0.5s ease; 
}

label.error {
    font-size: 12px;
    color: #e17055;
    margin-top: 4px;
    margin-bottom: 4px;
}

#credit-card-info label.error {
    display: none !important;
}

#credit-card-info input.error {
    border-color: red !important;
}

.select2 {
    height: 42px;
    border: 1px solid #e6e6e6;
    background: none;
    /*padding: 0 18px;*/
}

.select2-selection--single {
    border: none !important;
    padding-top: 4px !important;
}

.select2-selection__rendered {
    padding-top: 4px !important;
}

.select2-selection__arrow {
    top: 6px !important;
}

.content {
    height: 60vh !important;
    overflow-y: auto !important;
    overflow-x: hidden;
}

/*
 *  STYLE 7
 */

.content::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius: 50px;
}

.content::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}

.content::-webkit-scrollbar-thumb
{
    border-radius: 50px;
    background-image: -webkit-gradient(linear,
    left bottom,
    left top,
    color-stop(0.44, rgb(122,153,217)),
    color-stop(0.72, rgb(73,125,189)),
    color-stop(0.86, rgb(28,58,148)));
}

a[href="#finish"] {
    padding-left: 15px !important;
}

a[href="#finish"]:before {
    right: 15px !important;
}

#wizard {
    position: relative;
}

#tivicon-logo {
    position: absolute;
    bottom: -48px;
    left: 297px;
}

.actions a {
    border-radius: 5px;
}

input, select, textarea {
    border-radius: 5px;
}

@media (max-width: 968px) {
    #tivicon-logo img {
        width: 140px;
    }
    .content {
        height: 60vh !important;
    }
    .actions li a {
        font-size: 12px;
    }
    .actions li a:last-child {
        width: 100px !important;
        padding-left: 25px !important;
    }
    .actions li a:last-child:before {
        right: 10px !important;
    }
    a[href="#previous"] {
        width: 100px !important;
    }
    a[href="#previous"]:before {
        left: 10px !important;
    }
}