@font-face {
	font-family: "Poppins-Regular";
	src: url('../fonts/poppins/Poppins-Regular.ttf');
}
@font-face {
	font-family: "Poppins-SemiBold";
	src: url('../fonts/poppins/Poppins-SemiBold.ttf');
}
@font-face {
	font-family: "Poppins-Medium";
	src: url('../fonts/poppins/Poppins-Medium.ttf');
}
@font-face {
	font-family: "Muli-Bold";
	src: url('../fonts/muli/Muli-Bold.ttf');
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
	font-family: "Poppins-Regular";
	font-size: 15px;
	color: #666;
	margin: 0;
}
:focus {
	outline: none;
}
textarea {
	resize: none;
}
input, textarea, select, button {
	font-family: "Poppins-Regular";
	font-size: 15px;
	color: #666;
}
p, h1, h2, h3, h4, h5, h6, ul {
	margin: 0;
}
ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
a {
	text-decoration: none;
}
textarea {
	resize: none;
}
select {
	-moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    border: none;
    option[value=""][disabled] {
 		display: none;
 	}
}
img {
	max-width: 100%;
	vertical-align: middle;
}
body {
	background: url('../images/form-wizard-bg.jpg');
	background-size: cover;
}
.wrapper {
	max-width: 1400px;
	height: 100vh;
	margin: auto;
	display: flex;
	align-items: center;
	.image-holder {
		width: 51%;
	}
	form {
		width: 49%;
	}
}
.wizard > .steps .current-info, .wizard > .steps .number {
    display: none;
}
#wizard {
	min-height: 834px;
	background: #fff;
	margin-right: 60px;
	padding: 107px 75px 65px;
}
.steps {
	margin-bottom: 30px;
	ul {
		display: flex;
		position: relative;
		li {
			width: 20.16%;
			margin-right: 10px;
			a {
			    display: inline-block;
			    width: 100%;
			    height: 7px;
			    background: #e6e6e6;
			    
			    border-radius: 3.5px;
			}
			&.first, &.checked {
				a {
					background: #81ecec;
					transition: all 0.5s ease;
				}
			}
		}
		&:before {
			content: "Billing Details";
			font-size: 22px;
			font-family: "Poppins-SemiBold";
			color: #333;
			top: -38px;
			position: absolute;
		}
		&.step-2 {
			&:before {
				content: "Additional Information";
			}
		}
		&.step-3 {
			&:before {
				content: "Your Order";
			}
		}
		&.step-4 {
			&:before {
				content: "Billing Method";
			}
		}
	}
}
h3 {
	font-family: "Poppins-SemiBold";
}
.form-row {
	margin-bottom: 24px;
	label {
		margin-bottom: 8px;
		display: block;
	}
	&.form-group {
		display: flex;
		.form-holder {
			width: 50%;
			margin-right: 21px;
			&:last-child {
				margin-right: 0;
			}
		}
	}
}
.form-holder {
	position: relative;
	i {
		position: absolute;
		top: 11px;
		right: 19px;
		font-size: 17px;
		color: #999;
	}
}
.form-control {
	height: 42px;
	border: 1px solid #e6e6e6;
	background: none;
	width: 100%;
	padding: 0 18px;
	&:focus {
		border-color: #81ecec;
	}
	&::-webkit-input-placeholder { 
		color: #999;
		font-size: 13px;
	}
	&::-moz-placeholder { 
		color: #999;
		font-size: 13px;
	}
	&:-ms-input-placeholder { 
		color: #999;
		font-size: 13px;
	}
	&:-moz-placeholder { 
		color: #999;
		font-size: 13px;
	}
}
textarea.form-control {
	padding-top: 11px;
	padding-bottom: 11px;
}
.option {
	color: #999;
}
.actions {
	ul {
		display: flex;
		margin-top: 30px;
		justify-content: space-between;
		&.step-last {
			justify-content: flex-end;
			li:first-child {
				display: none;
			}
		}
	}
	li {
		a {
			padding: 0;
			border: none;
			display: inline-flex;
			height: 51px;
			width: 135px;
			align-items: center;
			background: #81ecec;
			cursor: pointer;
			position: relative;
			padding-left: 41px;
			color: #333;
			-webkit-transform: perspective(1px) translateZ(0);
			transform: perspective(1px) translateZ(0);
			-webkit-transition-duration: 0.3s;
			transition-duration: 0.3s;
			font-weight: 400;
			&:before {
				content: '\f2ee';
				position: absolute;
				top: 19px;
				right: 41px;
				font-family: Material-Design-Iconic-Font;
				-webkit-transform: translateZ(0);
  				transform: translateZ(0);
			}
			&:hover {
				background: #d9bda3;
				&:before {
					-webkit-animation-name: hvr-icon-wobble-horizontal;
					animation-name: hvr-icon-wobble-horizontal;
					-webkit-animation-duration: 1s;
					animation-duration: 1s;
					-webkit-animation-timing-function: ease-in-out;
					animation-timing-function: ease-in-out;
					-webkit-animation-iteration-count: 1;
					animation-iteration-count: 1;
				}
			}
		}
		&[aria-disabled="true"] {
			a {
			    display: none;
			}
		}
		&:first-child {
			a {
				background: #e6e6e6;
				padding-left: 48px;
				&:before {
					content: '\f2ea';
					left: 26px;
				}
				&:hover {
					background: #ccc;
				}
			}
		}
		&:last-child {
			a {
				padding-left: 29px;
				width: 167px;
				font-weight: 400;
				&:before {
					right: 30px;
				}
			}
		}
	}
}
.checkbox {
	position: relative;
	label {
		padding-left: 21px;
		cursor: pointer;
		color: #999;
	}
	input {
		position: absolute;
	    opacity: 0;
	    cursor: pointer;
	}
	input:checked ~ .checkmark:after {
		display: block;
	}
}
.checkmark {
	position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 12px;
    width: 13px;
    border-radius: 2px;
    background-color: #ebebeb;
    border: 1px solid #ccc;
    font-family: Material-Design-Iconic-Font;
    color: #000;
    font-size: 10px;
    font-weight: bolder;
	&:after {
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%,-50%);
	    display: none;
	    content: '\f26b';
	}
}
.checkbox-circle {
	margin-top: 41px;
	margin-bottom: 46px;
	label {
		cursor: pointer;
		padding-left: 26px;
		color: #999;
		display: block;
		margin-bottom: 15px;
		position: relative;
		&.active {
			.tooltip {
				display: block;
			}
		}
	}
	input {
		position: absolute;
	    opacity: 0;
	    cursor: pointer;
	}
	input:checked ~ .checkmark:after {
		display: block;
	}
	.checkmark {
		position: absolute;
	    top: 11px;
	    left: 0;
	    height: 14px;
	    width: 14px;
	    border-radius: 50%;
	    background: #ebebeb;
	    border: 1px solid #cdcdcd;
		&:after {
		    content: "";
	    	top: 6px;
			left: 6px;
			width: 6px;
			height: 6px;
			border-radius: 50%;
			background: #666666;
			position: absolute;
			display: none;
		}
	}
	.tooltip {
		padding: 9px 22px;
		background: #f2f2f2;
		line-height: 1.8;
		position: relative;
		margin-top: 16px;
		margin-bottom: 28px;
		display: none;
		&:before {
			content: "";
			border-bottom: 10px solid #f2f2f2; 
			border-right: 9px solid transparent;
			border-left: 9px solid transparent;
			position: absolute;
			bottom: 100%;
		}
	}
}
.product {
	margin-bottom: 33px;	
}
.item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 30px;
	border-bottom: 1px solid #e6e6e6;
	margin-bottom: 30px;
	&:last-child {
		margin-bottom: 0;
		padding-bottom: 0;
		border: none;
	}
	.left {
		display: flex;
		align-items: center;
	}
	.thumb {
		display: inline-flex;
		width: 100px;
		height: 90px;
		justify-content: center;
		align-items: center;
		border: 1px solid #f2f2f2;
	}
	.purchase {
		display: inline-block;
		margin-left: 21px;
		h6 {
			font-family: "Poppins-Medium";
			font-size: 16px;
			margin-bottom: 4px;
			font-weight: 500;
			a {
				color: #333;
			}
		}
	}
	.price {
		font-size: 16px;
	}
}
.checkout {
	margin-bottom: 44px;
	span.heading {
		font-family: "Poppins-Medium";
		font-weight: 500;
		margin-right: 5px;
	}
	.subtotal {
		margin-bottom: 18px;
	}
	.shipping {
		margin-bottom: 19px;
		span.heading {
			margin-right: 4px;
		}
	}
	.total-price {
		font-family: "Muli-Bold";
		color: #333;
		font-weight: 700;
	}
}
@-webkit-keyframes hvr-icon-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  33.3% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes hvr-icon-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  33.3% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@media (max-width: 1500px) { 
	.wrapper {
		height: auto;
	}
}
@media (max-width: 1199px) {
	.wrapper {
		height: 100vh;
	}
	#wizard {
		margin-right: 40px;
		min-height: 829px;
		padding-left: 60px;
		padding-right: 60px;
	}
}
@media (max-width: 991px) {
	.wrapper {
		justify-content: center;
		.image-holder {
			display: none;
		}
		form {
			width: 60%;
		}
	}
	#wizard {
		margin-right: 0;
		padding-left: 40px;
		padding-right: 40px;
	}
}
@media (max-width: 767px) {
	.wrapper {
		height: auto;
		display: block;
		.image-holder {
			width: 100%;
			display: block;
		}
		form {
			width: 100%;
		}
	}
	#wizard {
		min-height: unset;
		padding: 70px 20px 40px;
	}
	.form-row.form-group {
		display: block;
		.form-holder {
			width: 100%;
			margin-right: 0;
			margin-bottom: 24px;
		}
	}
	.item .purchase {
		margin-left: 11px;
	}
}

