@font-face {
    font-family: "Poppins-Regular";
    src: url("../fonts/poppins/Poppins-Regular.ttf"); }
@font-face {
    font-family: "Poppins-SemiBold";
    src: url("../fonts/poppins/Poppins-SemiBold.ttf"); }
@font-face {
    font-family: "Poppins-Medium";
    src: url("../fonts/poppins/Poppins-Medium.ttf"); }
@font-face {
    font-family: "Muli-Bold";
    src: url("../fonts/muli/Muli-Bold.ttf"); }
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

body {
    font-family: "Poppins-Regular";
    font-size: 15px;
    color: #666;
    margin: 0;
    padding: 20px 20px;
    background: #005C97;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #363795, #005C97);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(90deg, rgba(0, 64, 118, 1) 0%, rgba(0, 155, 218, 1) 100%);
}

.check {
    margin: 10px auto;
    width: 140px;
    background-color: #ecf0f1;
    font-size: 88px;
    border-radius: 150px;
    color: #2ecc71;
}

.success {
    font-weight: bolder;
    font-size: 40px;
    color: #2ecc71;
    margin-top: 26px;
}

.info {
    font-size: 20px;
    margin-top: 13px;
}

#logo {
    width: 100px;
}

.card-footer {
    background-color: #fff;
}

.card-footer a {
    /*text-decoration: none;*/
    color: #363795;
    margin-left: 40px;
}